# Database Configuration
DB_USER=your_db_user            # Имя пользователя для базы данных
DB_PASSWORD=your_db_password    # Пароль для базы данных
DB_HOST=localhost               # Адрес хоста базы данных
DB_PORT=5432                    # Порт для подключения к базе данных (по умолчанию для PostgreSQL)
DB_NAME=your_db_name            # Имя базы данных
