# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Виртуальные окружения
venv/
env/

# Файлы IDE
.vscode/
.idea/

# Конфиденциальные данные
.env
*.sqlite3

# Системные файлы
.DS_Store  # macOS
Thumbs.db  # Windows

# Логи
*.log

# Пакеты
*.egg
*.egg-info/

# Остальные игнорируемые файлы
*.bak
*.swp
*.lock

# Папки с данными
.claude/